<h1>Authentication attempts</h1>
<div ng-show="attemptsCtrl.error" class="alert alert-danger" style="margin-top: 50px">{{attemptsCtrl.error}}</div>
<div ng-show="!attemptsCtrl.error">
  <form class="form-inline">
    <div class="form-group">
      <label for="search">Search: </label>
      <input ng-model="search" type="text" class="form-control" id="search" placeholder="Search...">
    </div>
  </form>
  <br/>
  <ul>
    <table class="table table-bordered">
      <thead>
        <th>
          Date / time
        </th>
        <th>
          IP address
        </th>
        <th>
          Action
        </th>
        <th>
          Username
        </th>
      </thead>
      <tr ng-repeat="attempt in attemptsCtrl.allAttempts | filter:search">
        <td>
          {{attempt.datetime}}
        </td>
        <td>
          {{attempt.ip}}
        </td>
        <td>
          {{attempt.action}}
        </td>
        <td>
          {{attempt.username}}
        </td>
      </tr>
    </table>
  </ul>
</div>
